<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileNest-Login</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
     
</head>
<body >
 <header class="p-4 bg-gray-100 w-screen dark:bg-gray-600 shadow-md relative"><div class="max-w-4xl mx-auto text-center">
        <h1 class="text-4xl font-extrabold text-blue-600 tracking-tight drop-shadow-lg">
        FileNest
        </h1>
        <h3 class="text-lg font-medium text-gray-600 dark:text-gray-300">
        A place where your files live
        </h3>
    </div></header>
    <main
    class="bg-gray-100 dark:bg-gray-500 h-screen w-screen flex pt-16 justify-center"
>   
    
<form 
    class="w-96"
    action="/user/login"
    method="post"
> 
<div><h1 class="text-gray-800 dark:text-gray-100 text-center text-lg">Login Here</h1>
    <h3 class="text-gray-800 dark:text-gray-100 text-center">New User? Click <a href="/user/register" class="text-blue-400">Register</a></h3></div>    
        <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
            <input type="text" name ="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required />
        </div>
      
       
   
    <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
        <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required />
    </div> 
    
     
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 block mx-auto">Submit</button>
</form>
</main>




    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>